@media (min-width: 1px) {
    h1 {font-size:1.7rem; margin-top: 10px;}
    h2 {font-size:1.5rem;}
    h3 {font-size:1.35rem;}
    p {font-size:1.0rem}
}
@media (min-width: 544px) {
    h1 {font-size:1.7rem; margin-top: 14px;}
    h2 {font-size:1.5rem;}
    h3 {font-size:1.35rem;}
    p {font-size:1.05rem}
}
@media (min-width: 768px) {
    h1 {font-size:2.0rem; margin-top: 18px;}
    h2 {font-size:1.7rem;}
    h3 {font-size:1.5rem;}
    p {font-size:1.1rem}
}
@media (min-width: 992px) {
    h1 {font-size:2.3rem; margin-top: 24px;}
    h2 {font-size:2.0rem;}
    h3 {font-size:1.7rem;}
    p {font-size:1.17rem}
}
@media (min-width: 1200px) {
    h1 {font-size:2.5rem; margin-top: 32px;}
    h2 {font-size:2.1rem;}
    h3 {font-size:1.8rem;}
    p {font-size: 1.25rem;}
}
h2 {
    border-bottom: 1px dotted #bbbbbb;
    line-height: 0.1em;
    margin: 1.15em 0px;
}
h2 span {
    background:#fff;
    padding: 0px 10px;
}

@media (prefers-color-scheme: dark) {
    img {
      opacity: .65;
      transition: opacity .1s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
    body {
        background: #2a2a2a;
        color: #cfcfcf;
    }
    a {
        color: #449bff;
    }
    a:hover {
        color: #66abff;
    }
    h2 span {
        background: #2a2a2a;
    }
    .text-muted {
        color: #9ca5ad!important;
    }
}
img.organizer {
    margin-top: 12px;
}
